* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ddd;
    color: #222;
}

h1 {
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: #6b6;
}

ul {
    list-style: none;
    margin-top: 0.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none;
    padding: 0.5rem;
    width: 90%;
}

input:focus {
    outline: none;
}

i {
    padding: 0.5rem;
}